h1{
	text-align: center;
}

.container{
	margin: 7em auto;
	width: 200px;
	height: 200px;
	position: relative;

	perspective: 700px
}

.cubo, .caras{
	width: 100%;
	height: 100%;
	position: absolute;
}

.cubo{
	transform-style: preserve-3d;
	transition: transform 1s;
}

.giro-automatico{
	animation: giro 15s infinite linear;
}

@keyframes giro {
	from{
		transform: rotateX(0) rotateY(0);
	}
	to{
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.interna{
	float: left;
	width: 29.3%;
	height: 29.3%;
	border: 4px solid #9E9E9E;
    border-radius: 10px;
}

#a{
	background-color: #a90000;
	transform: translateZ(100px);
}

#b{
	background-color: white;
	transform: translateX(100px) rotateY(90deg);
}

#c{
	background-color: #ffe600;
	transform: translateX(-100px) rotateY(90deg);
}

#d{
	background-color: #ff8800;
	transform: translateZ(-100px);
}

#e{
	background-color: #069006;
    transform: translateY(-100px) rotateX(90deg);
}

#f{
	background-color: #000050;
    transform: translateY(100px) rotateX(90deg);
}

.botonera{
	width: 90px;
	height: 30px;
	margin: auto;
	border-radius: 2px;
    position: relative;
}

.boton{
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 50%;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	position: absolute;
}

#up{
	left: 30px;
}

#down{
	top: 60px;
	left: 30px;
}

#left{
	top: 30px;
}

#right{
	top: 30px;
	left: 60px;
}

#auto{
	top: 32px;
	left: 32px;
	width: 25px;
	height: 25px;
}